

<section class="filters">
    <div class="col-md-12">

        <div class="filter-wrapper_main">
            <input type="text" id="nameFilterMain" placeholder="Search" ng-model="mainSearchVal" >
           <button class="btn btn-success" ng-click="getShowMainSearchResults()"> Search </button>
        </div>



    </div>
    <div class="col-md-6">

        <div class="filter-wrapper">
            <label for="nameFilter">Filter By Name:</label>
            <input type="text" id="nameFilter" placeholder="Type Product Name" ng-model="search.name">
        </div>
        <div class="filter-wrapper">
            <label for="priceFilter">Filter By Price:</label>
            <input type="text" id="priceFilter" placeholder="Type Product Price" ng-model="search.price">
        </div>
    </div>
    <div class="col-md-6">
        <div class="changeCategoryBtn__wrap">
            <button class="btn btn-success changeCategoryBtn" type="button"
                    ng-repeat="item in categories"
                    ng-attr-data-number="{{$index}}"
                    ng-class="{'active': $index == activeProductNumber}"
                    ng-click="changeCategory($event)">{{item.category}}
            </button>
        </div>
    </div>
</section>
<section>
    <button class="btn btn-success" type="button"  ng-click="sortBy('price')">
        Order By Price
        <i class="fa fa-arrow-down" aria-hidden="true"></i> <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
    <!--<button class="btn btn-success" type="button" >From Cheap to Expensive-->
        <!--<i class="fa fa-arrow-up" aria-hidden="true"></i></button>-->
</section>

<section class="products">
    <ng-include src="'view/smartphones.html'" ng-show="activeProductPage == 'smartphones'"></ng-include>
    <ng-include src="'view/tablets.html'" ng-show="activeProductPage == 'tablets'"></ng-include>
    <ng-include src="'view/tv.html'" ng-show="activeProductPage == 'tv'"></ng-include>

    <ng-include src="'view/search.html'" ng-show="activeProductPage == 'search'"></ng-include>
</section>