<div class="clearfix"></div>

<form>
    <label ng-click=""><input type="radio" name="phone">Nokia</label><br>
    <label><input type="radio" name="phone"> Samsung</label><br>
    <label><input type="radio" name="phone">IPhone</label> <br>
</form>

<div class="col-md-12">
    <h2 class="info-article">Smartphones</h2>
    <hr class="category_hr">
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
     ng-repeat="item in productData | filter:search  | limitTo:quantity |  orderBy:propertyName:reverse ">
    <div class="products__item">
        <img ng-src="{{item.imgPath}}" alt="product image" class="products__logo">
        <p class="products__name">{{item.name}}</p>
        <p class="products__price">{{item.price}}</p>
        <div class="products__buttons-wrap">
            <button href="/product" class="products__btn btn-success btn">Buy of the Product</button>
        </div>
    </div>
</div>

